/*I've tried a wrapper, id, and class, but can't get nav bar to center. */
.wrapper{
  margin:0 auto;
  width: 1000px;
}
h2{
  text-align:center;
}
#centerheader {
  text-align:fill;
  border:none
  /*idk why my padding isn't applying*/
  padding: none;
  margin:none;
font-family: arial:"courier new", courier;
letter-spacing:9px;
text-transform:uppercase;
}

body{
  height:100%;
  margin:0px;
  margin:0px;
  font-size:20px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:black;
  text-align:center;
}
html{
  height:100%;
  margin:0px;
  margin:0px;
  font-size:15px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:white;
  text-align:center;
}



/*Styling for images (parallax/background)*/
.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.90;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

/*the actual images*/
.pimg1 {
  background-image: url("nightsky.jpeg");
  min-height:100%
}
.pimg2 {
  background-image: url("radiotele.jpg");
  min-height:800px;
}
.pimg3 {
  background-image: url("waterfall.png");
  min-height:800px;
}


/*for some reason this text-align, .section-dark & .section-light didn't apply, but when I applied it to the body it did apply*/

/*Section container stylings;this applies to all of the sections that I have*/
.section {
  text-align:center;
  padding:10px,100px,10px,100px;;
  margin:none;
}

.section-light{
  background-color:#fff;
  color:black;



}

/*applies to floating titles above parallax*/
.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:black;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

/*border of the title in the parallax*/
.border{
  background-color:black;
  color:white;
  padding:20px;
}

/*Makes the paralax background sto parallaxing when in mobile mode*/
@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

/*Sidebar outside box*/
.sidebar-section {
   background: #fff;
   // border-radius: 12px;
   // border: solid 10px #f1f1f1;
 }

 /*Sidebar text*/
 .sidebar-item {
   text-align: center;
 }

 /*software and hardware tutorial boxes */
 .content-section{
   background: #fff;
   // border-radius: 12px;
   // border: solid 10px #f1f1f1;
}

 .content-section h2 {
   text-align: center;
   margin: auto;
   padding:20px,5px,20px,5px;}

   .video{
     align-content:center;   }
