/*I've tried a wrapper, id, and class, but can't get nav bar to center. */

h2{
  text-align:center;
  letter-spacing: 3px;
  text-shadow: 2px 2px lightgrey;
  text-transform: uppercase;
  text-decoration-line: underline;
  font-family:sans-serif;
  border: solid;
  border-color: white;
}

#centerheader {
  text-align:fill;
color:black;
font-family: arial:"courier new", courier;
letter-spacing:9px;
text-transform:uppercase;
text-decoration-line: none;
}

body{
  height:100%;
  font-size:20px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:black;
  text-align:center;
}
html{
  height:100%;
  font-size:15px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:white;
  text-align:center;
}

/*Styling for images (parallax/background)*/
.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.90;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

/*the actual images*/
.pimg1 {
  background-image: url("nightsky.jpeg");
  min-height:100%
}
.pimg2 {
  background-image: url("radiotele.jpg");
  min-height:800px;
}
.pimg3 {
  background-image: url("waterfall.png");
  min-height:800px;
}


/*Section container stylings;this applies to all of the sections that I have*/
.section {
  align-content: center;
  text-align:center;
  display: block;
  border-style: solid;
  border-color: black;

}

/*applies to floating titles above parallax*/
.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:black;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

/*border of the title in the parallax*/
.border{
  background-color:black;
  color:white;
  padding:20px;
}

/*Makes the paralax background sto parallaxing when in mobile mode*/
@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

/*Sidebar outside box*/
.sidebar-section {
   background: #fff;
   // border-radius: 12px;
   // border: solid 10px #f1f1f1;
 }

 /*Sidebar text*/
 .sidebar-item {
   text-align: center;
 }

 /*software and hardware tutorial boxes */
 .content-section{
   background: #fff;
   // border-radius: 12px;
   // border: solid 10px #f1f1f1;
}
/*header for sections*/
 .content-section h2 {
   text-align: center;
   margin: auto;
   padding:20px,5px,20px,5px;}

/*makes the video centered*/
   .video{
     align-content:center; }
/*containes the sections*/
     .container-fixed{
       align-content: center;
       text-align: center;
       margin:0px;
       padding:0px;
       border-style:solid;
       border-color:black;
     }

     .fa-instagram {
       background: purple;
       color: white;
     }
     .fa {
       padding: 20px;
       font-size: 30px;
       text-align: center;
       text-decoration: none;
       margin: 10px;
       border: 2px solid white;
       border-radius: 25px;
     }
     .fa-facebook {
       background: navy;
       color: white;}

       .fa-youtube{
         background: red;
         color: white;}

         .fa-google {
           background: blue;
           color: white;}


           .sidenav {
  height: 80%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5px;
  margin-top: 105px;
  text-align:left;

}

.sidenav a {
  padding:none;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.mainware {
  margin-left: 200px; /* Same as the width of the sidenav */
padding:30px;
text-align:left;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

hr.boldline { border: 3px solid black;
}

hr.thinline {
  border: 1px solid lightgrey;

}
